/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.jpg");
    
}
.titulo{
font-size: 60px;
color: rgb(166, 91, 252);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{

    height: 400px;
    width: 600px;
    background-image: url("circuitos-eléctricos.jpg");
    background-repeat: no-repeat;
    float: left;
}
.imgsociales{
    height: 700px;
    width: 1500px;
    background-image: url("sociales.png");
    background-repeat: no-repeat;
    float: left;
}
.imagentrans{
    height: 500px;
    width: 700px;
    background-image: url("imgtrans.jpg");
    background-repeat: no-repeat;
    float: left;
}
.imagen1{
    height: 300px;
    width: 300px;
    background-image: url("imganorexia.jpg");
    background-repeat: no-repeat;
    float: left;
}
.imagen2{
    height: 500px;
    width: 600px;
    background-image: url("imgbuli.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img3{
    height: 500px;
    width: 1500px;
    background-image: url("agua.png");
    background-repeat: no-repeat;
    float: center;
}
.img4{
    height: 500px;
    width: 1500px;
    background-image: url("img2d.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img5{
    height: 600px;
    width: 600px;
    background-image: url("img3e.webp");
    background-repeat: no-repeat;
    float: left;
}
.img6{
    height: 400px;
    width: 550px;
    background-image: url("img4d.webp");
    background-repeat: no-repeat;
    float: left;
}
.img7{
    height: 400px;
    width: 400px;
    background-image: url("img5a.avif");
    background-repeat: no-repeat;
    float: left;
}
.img8{
    height: 500px;
    width: 700px;
    background-image: url("img6.webp");
    background-repeat: no-repeat;
    float: left;
}
.img9{
    height: 700px;
    width: 700px;
    background-image: url("img7e.avif");
    background-repeat: no-repeat;
    float: left;
}
.img10{
    height: 900px;
    width: 1500px;
    background-image: url("img8.webp");
    background-repeat: no-repeat;
    float: left;
}
.img11{
    height: 300px;
    width: 700px;
    background-image: url("img9.png");
    background-repeat: no-repeat;
    float: left;
}
.img12{
    height: 317px;
    width: 400px;
    background-image: url("img10.avif");
    background-repeat: no-repeat;
    float: left;
}
.img13{
    height: 530px;
    width: 583px;
    background-image: url("img11.avif");
    background-repeat: no-repeat;
    float: left;
}
.img14{
    height: 502px;
    width: 700px;
    background-image: url("img12.avif");
    background-repeat: no-repeat;
    float: left;
}
.img15{
    height: 370px;
    width: 633px;
    background-image: url("img1m.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img16{
    height: 316px;
    width: 300px;
    background-image: url("img2m.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img17{
    height: 528px;
    width: 700px;
    background-image: url("img3m.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img18{
    height: 536px;
    width: 700px;
    background-image: url("img4m.avif");
    background-repeat: no-repeat;
    float: left;
}
.img19{
    height: 529px;
    width: 700px;
    background-image: url("img5m.webp");
    background-repeat: no-repeat;
    float: left;
}
.img20{
    height: 350px;
    width: 438px;
    background-image: url("img6m.webp");
    background-repeat: no-repeat;
    float: left;
}
.img21{
    height: 327px;
    width: 330px;
    background-image: url("drug.jpeg");
    background-repeat: no-repeat;
    float: left;
}
.img22{
    height: 216px;
    width: 275px;
    background-image: url("img8m.png");
    background-repeat: no-repeat;
    float: left;
}
.img23{
    height: 475px;
    width: 700px;
    background-image: url("img9m.jpg");
    background-repeat: no-repeat;
    float: left;
}
.img24{
    height: 357px;
    width: 434px;
    background-image: url("img10m.avif");
    background-repeat: no-repeat;
    float: left;
}
.img25{
    height: 421px;
    width: 700px;
    background-image: url("img11m.webp");
    background-repeat: no-repeat;
    float: left;
}
.img26{
    height: 700px;
    width: 700px;
    background-image: url("img12m.jpg");
    background-repeat: no-repeat;
    float: left;
}