/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(244, 237, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.jpg");
    
}
.titulo{
font-size: 60px;
color: rgb(166, 91, 252);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.img1{

    height: 400px;
    width: 400px;
    background-image: url("medellin.jpeg");
    background-repeat: no-repeat;
    float: left;
}
